
{% extends 'base.html'%}
{% block titulo %} Página Inicial{%endblock%}
{%block cabecalho%} Esse é meu primeiro site{%endblock%}
{%block conteudo%} <a href="/sobre">Sobre esse site</a>
  <a href="/noticias">Noticias - Asian Hate na Pandemia da COVID-19</a> 
  <p>
  Olá! 
<p>
O objetivo deste aplicação foi buscar e capturar de forma automatizada as produções jornalísticas digitais no Brasil
que fizessem menção a termos ligados ao preconceito, à violência e a crimes de ódio contra asiáticos durante a os dois primeiros anos da 
pandemia. Os links compliados foram retirados da ferramenta Google News. </p>


    

</p>{%endblock%}

 
