
{% extends 'base.html'%}
{% block titulo %} Página Inicial{%endblock%}
{%block cabecalho%} "Vírus chinês", "kung flu" e outros termos e discursos anti-asiáticos ainda reforçam estigmas e comportamentos ofensivos à população amarela e de origem asiática, durante a pandemia.   {%endblock%}
{%block conteudo%} <a href="/sobre">Sobre esse site</a>
  <a href="/noticias">Noticias - Asian Hate</a> 
  <p>
  Olá! 
<p>
O objetivo deste aplicação foi buscar e capturar de forma automatizada as produções jornalísticas digitais no Brasil
que fizessem menção a termos ligados ao preconceito, à violência e a crimes de ódio contra asiáticos durante a os dois primeiros anos da 
pandemia. Esta ferramente pretende servir como um <b> observatório <b> para futuros projetos. O clipping de notícias pode ser visualizado ao clicar em <b>"Notícias - Asian Hate"</b>, foram retirados da ferramenta "Google News". </p>
</p>{%endblock%}

 
