
{% extends 'base.html'%}
{% block titulo %} Página Inicial{%endblock%}
{%block cabecalho%} Violência e preconceito contra asiáticos na pandemia - Notícias brasileiras no Google News{%endblock%}
{%block conteudo%} <a href="/sobre">Sobre esse site</a>
  <a href="/noticias">Notícias</a> 
<a href="/analise">Análise</a> 
  <p>
  Olá! 
<p>
<b> Muito antes do início da pandemia, discursos que discriminam a população amarela ou de origem asiática já reforçam estigmas e diferentes tipos de violência. 
Em dezembro de 2019, o primeiro caso da COVID-19 foi detectado em uma cidade chinesa. Termos como "vírus chinês" e "kung flu" fizeram parte de estereotipações do asiático diante da crise sanitária, não apenas no Brasil, como também em outros lugares do mundo. </b>
<br><br>
O objetivo deste aplicação é buscar e capturar de forma automatizada as produções jornalísticas digitais no Brasil
que fizessem menção a termos ligados ao preconceito, à violência e a crimes de ódio contra asiáticos durante a os dois primeiros anos da 
pandemia. Esta ferramenta pretende servir como um observatório para futuros projetos em torno da cobertura do preconceito amarelo durante a pandemia no contexto brasileiro.
<br><br>
O clipping de notícias pode ser visualizado ao clicar em "Notícias - Asian Hate", foram retirados do Google News. <br>
Na aba "Análise", é possível visualizar como as palavras utilizadas nas manchetes se distribuiram em termos de frequência. </p>
</p>{%endblock%}

 
