{% extends 'base.html' %}

{% block titulo %} Notícias - Asian Hate{% endblock %}
{% block cabecalho %} Registros de notícias sobre preconceito contra população de origem asiática na imprensa brasileira durante os 2 primeiros anos da pandemia da COVID-19 {% endblock %}
{% block conteudo %}
 <a href="/">Página inicial</a>
 <a href="/sobre">Sobre esse site</a>
<a href="/analise">Análise</a>
      <p> 
      <b> Coleta de notícias no Google News entre 31 de dezembro de 2019 até a data de hoje. </b> 
<p> {{ dados|safe }} </p>
{% endblock %}
